.notfound__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Занимаем всю высоту viewport */
  background-color: rgba(234, 238, 246, 1);
  color: #333;
  font-family: Arial, sans-serif;
  text-align: center;
}

.notfound__title {
  font-size: 8em;
  margin-bottom: 0.1em;
  color: rgba(148, 166, 190, 1);
}

.notfound__text {
  font-size: 3em;
  color: rgba(148, 166, 190, 1);
}

.notfound__link {
  font-size: 2em;
  color: rgba(148, 166, 190, 1);
  text-decoration: underline;
}

.notfound__link:hover {
  color: rgb(120, 13, 173);
  cursor: pointer;
}
