.container {
  max-height: 1200px;
  overflow-y: auto;
  scrollbar-width: none;
}

.container__title {
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 40px;
}

.profile__box {
  border-radius: 30px;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgba(255, 255, 255, 1);
  padding: 30px;
  display: flex;
  gap: 33px;
}

.images {
  position: relative;
  width: 197px;
  height: 197px;
}

.images__mobile {
  display: none;
}

.image__background {
  position: absolute;
}

.image__circle {
  position: absolute;
  top: 28px;
  left: 62.5px;
}

.image__semicircle {
  position: absolute;
  top: 125px;
  left: -7px;
}

.profile__name {
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 30px;
}

.profile__login {
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 44px;
}

.button__exit {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 46px;
  color: rgba(0, 0, 0, 1);
  background: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: center;
  padding: 16px 26px 16px 26px;
  cursor: pointer;
  width: 192px;
  height: 52px;
}

.button__exit:hover {
  background: rgb(204, 204, 204);
}

.button__exit:invalid {
  color: rgba(153, 153, 153, 1);
  background: rgba(247, 247, 247, 1);
}

.button__exit:active {
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 1);
}

.courses__box {
  margin-top: 60px;
}

.courses__title {
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 40px;
}

.courses__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
}

.courses__me {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.centerblock__buttonUp {
  border-radius: 46px;
  background: rgba(188, 236, 48, 1);
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: center;
  padding: 16px 26px;
  width: 127px;
  cursor: pointer;
}

.empty {
  font-size: 18px;
  color: var(--color-text-dark);
  opacity: 0.6;
  padding: 40px;
  text-align: center;
}

@media (max-width: 426px) {
  .container__title {
    font-size: 24px;
  }

  .profile__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile__image {
    display: flex;
    width: 141px;
    height: 141px;
  }

  .images {
    display: none;
  }

  .images__mobile {
    position: relative;
    display: block;
  }

  .image__background {
    position: absolute;
  }

  .image__circle {
    position: absolute;
    top: 20px;
    left: 45px;
  }

  .image__semicircle {
    position: absolute;
    top: 90px;
    left: -5px;
  }

  .profile__info {
    display: flex;
    flex-direction: column;
  }

  .button__exit {
    width: 283px;
  }

  .courses__box {
    margin-top: 60px;
    padding-bottom: 40px;
  }

  .courses__title {
    font-size: 24px;
  }

  .courses__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .courses__me {
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-height: 100px;
  }
}
