.fitnessCourseBottom {
  position: relative;
}

.fitnessCourse__adding {
  margin-top: 102px;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgba(255, 255, 255, 1);
  position: relative;
}

.adding__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 437px;
}

.adding__title {
  color: rgba(0, 0, 0, 1);
  font-size: 60px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
}

.adding__advantages {
  padding-top: 26px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-left: 34px;
}

.advantage__text {
  color: rgba(0, 0, 0, 1);
  font-family: 'Roboto';
  font-style: Regular;
  font-size: 24px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
}

.adding__button {
  margin-top: 28px;
  border-radius: 46px;
  background: rgba(188, 236, 48, 1);
  border: 1px solid rgba(188, 236, 48, 1);
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
  padding: 16px 26px 16px 26px;
  align-self: center;
}

.image_runner {
  position: absolute;
  top: -104px;
  right: 32px;
  z-index: 6;
}

.image_vectorBlack {
  position: absolute;
  top: 28px;
  right: 380px;
}

.container_vectorGreen {
  width: 640px;
  height: 485px;
  position: absolute;
  top: 0px;
  right: 0px;
  overflow: hidden;
}

.image_vectorGreen {
  position: absolute;
  top: 78px;
  right: -22px;
}

.image_vectorGreen__mobile {
  display: none;
}

@media (max-width: 376px) {
  .fitnessCourse__adding {
    padding: 30px;
    border-radius: 30px;
    position: relative;
    z-index: 5;
  }

  .adding__container {
    width: 283px;
    z-index: 1;
  }

  .adding__title {
    font-size: 32px;
  }

  .adding__advantages {
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding-left: 30px;
  }

  .advantage__text {
    font-size: 18px;
  }

  .adding__button {
    font-size: 16px;
    padding: 16px 26px 16px 26px;
    width: 283px;
    justify-content: center;
    display: flex;
  }

  .image_runner {
    width: 334px;
    height: 347px;
    position: absolute;
    top: -262px;
    right: -72px;
    z-index: 0;
  }

  .image_vectorBlack {
    width: 32px;
    height: 27px;
    position: absolute;
    top: -180px;
    right: 154px;
  }

  .container_vectorGreen {
    width: 640px;
    height: 485px;
    top: -150px;
    right: -100px;
    z-index: -1;
  }

  .image_vectorGreen {
    display: none;
  }

  .image_vectorGreen__mobile {
    display: block;
    position: absolute;
    top: -14px;
    right: 38px;
  }
}
