.fitnessCourse__header {
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  height: 310px;
  overflow: hidden;
  position: relative;
}

.header__title {
  color: rgba(255, 255, 255, 1);
  font-size: 60px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
  padding-left: 40px;
  padding-top: 40px;
  position: absolute;
  z-index: 2;
}

.header__image {
  position: absolute;
}

.image {
  border-radius: 40px;
}

.fitnessCourse__description {
  padding-top: 60px;
}

.description__title {
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
}

.description__points {
  display: flex;
  gap: 17px;
  padding-top: 40px;
  justify-content: space-between;
}

.point {
  border-radius: 28px;
  background: linear-gradient(
    152.61deg,
    rgba(21.46, 23.48, 31.57, 1),
    rgba(30.28, 33.45, 46.14, 1)
  );
  padding: 20px;
  display: flex;
  gap: 25px;
  align-items: center;
}

.point__number {
  color: rgba(188, 236, 48, 1);
  font-size: 75px;
  font-weight: 500;
  line-height: 135%;
  letter-spacing: 0px;
  text-align: left;
}

.point__text {
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
}

.fitnessCourse__directions {
  padding-top: 60px;
}

.directions__title {
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
}

.directions {
  margin-top: 40px;
  border-radius: 28px;
  background: rgba(188, 236, 48, 1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
  gap: 34px 124px;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
}

.direction {
  display: flex;
  gap: 8px;
}

.direction__text {
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
}

.fitnessCourse__adding {
  margin-top: 102px;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgba(255, 255, 255, 1);
  position: relative;
}

.adding__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 437px;
}

.adding__title {
  color: rgba(0, 0, 0, 1);
  font-size: 60px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
}

.adding__advantages {
  padding-top: 26px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-left: 34px;
}

.advantage__text {
  color: rgba(0, 0, 0, 1);
  font-family: 'Roboto';
  font-style: Regular;
  font-size: 24px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
}

.adding__button {
  margin-top: 28px;
  border-radius: 46px;
  background: rgba(188, 236, 48, 1);
  border: 1px solid rgba(188, 236, 48, 1);
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
  padding: 16px 26px 16px 26px;
  align-self: center;
}

.image_runner {
  position: absolute;
  top: -104px;
  right: 32px;
  z-index: 5;
}

.image_vectorBlack {
  position: absolute;
  top: 28px;
  right: 380px;
}

.image_vectorGreen {
  position: absolute;
  top: 78px;
  right: -22px;
}
